@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*
A CSS rule set has one part called selector, and the other part called declaration. The
declaration contains various rules, each composed by a property, and a value.
In this example, p is the selector, and applies one rule which sets the value 20px to the
font-size property: In this example the body is the selector
and there are a set of rules for: font, padding, margin, and background-color
*/

body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#e7e7e7;
}



/* Global - 

Global means that the css formatting rules specified will apply as a default
to the selectors indicated.

The container width is responsive to the size of the device, 
the margin 'auto' will keep the conainer in the middle of the screen
using 'overflow hidden' will prevent a scroll bar from popping up
if the content goes beyond the screen boundary
*/

.container{
  width:80%;  /* Specific width %*/
  margin:auto; /* Align to the middle */
  overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}


/* Header **/
header nav{
  padding-right:30px;
  float:left;
  margin-top:10px;
  margin-left:10px;
  padding-right: 30px; /* Adjust for desired spacing */
}

header nav li {
  display: inline-block; /* Ensures items stay on one line */
}


header{
background:#e7e7e7;
color: #000000;
padding-top:5px;
min-height:48px;
border-bottom:#289b5c 5px solid;
display: flex;
justify-content:space-between;
justify-content: center;
}

header a{
color:#000000;
text-decoration:none; /* Remove highlight */
text-transform: uppercase;
font-size:20px;
}


header li{
float:left;
display:inline;
padding: 0 10px 0 10px;
}

header ul {
margin:0;
padding:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#0c8a43;
  font-weight:bold;
}


header a:hover{ /* Change font when hovering over a */
  color:#cccccc;
  font-weight:bold;
}
/* Showcase */
#showcase{
  min-height:400px;
  background:url('./showcase.jpg') no-repeat 0 -400px;
  text-align:center;
  color: #289b5c;
}

/* MAIN */ 
main{
  background:#e7e7e7;
  color: #000000;
  padding-top:5px;
  min-height:45px;
  padding-left:10px;
  padding-right:10px
}

main h1{
  font-size:30px;
}


#items {
  margin-left: 80px;
  margin-right: 80px;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:5px;
  margin-top:10px;
  color:#ffffff;
  background-color:#289b5c;
  text-align: center;
  position:fixed;
  bottom:0;
  left: 0;
  width: 100%;
  height: 30px;
}


/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
